.movie-container {
    display: flex;
    border: 2px solid;
    border-radius: 7px 7px;
    background-color: rgba(204, 204, 204, 0.938);
    width: 40%;
}
.movie-title {
    margin:0;
    padding: 0 20px;
}
.container-movie-button-like-dislike {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.movie-button-like {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    margin-right: 3%;
}
.movie-button-dislike {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    margin-right: 3%;
}

.movie-button-delete  {
  background-color: rgb(118, 118, 185);
  width: 50px;
  border: none;
  height: 40px;
  border-radius: 0 5px 0 0;
  color: white;
  font-size: 15px;
}
.movie-button-delete:hover {
    background-color: rgb(141, 141, 214);
    color: black;    
    }
.description {  
display: flex;
flex-direction: column;
width: 28%;
margin-left: 10px;
}
.movie-img {
    height: 70%;
    width: 70%;
    border-radius: 5px 0 0 5px;
}